.table-main{
table-layout:fixed;
width:100%;
background-color: lightblue;
border:1px solid whitesmoke;
table-layout:fixed;
column-count: 3;

}
table.table-main th{
    width:200px;
}
table.table-main tr {
    width:200px;
    padding:15px 15px;
    background-color: white;
    border:1px solid white;
}
table.table-main tr:hover {
    background-color:#CCC;
}
.event-image {
    height:100px;
    width:100px;
}
.h1{
    text-align: center;
    color:white;
    font-size: 30pt;
}