<section>
    <div>
    <ul>
      <h1>Event</h1>
      <div *ngFor="let event of events" [routerLink]="['event',event._id] ">
        <section>
          <table class = "table-main">
            <tr class="table-row">
              <th>{{event.eventName}}</th>
              <th>{{event.eventDate}}</th>
              <th>{{event.eventTime}}</th>
              <th>{{event.eventLocation.eventStreet}}</th>
              <th>{{event.eventLocation.eventCity}}</th>
              <th>{{event.eventLocation.eventZip}}</th>
              <th><button (click)="deleteEvent(event._id)">Delete</button></th>
            </tr>
          </table>
        </section>
      </div>
    </ul>
    </div>
</section>