<nav class="main-nav">
    <ul class ="main-ul">
      <li><a class="nav-gradient" href="#">Events</a></li>
      <li><a class="nav-gradient" href="./aboutus">About Us</a></li>
      <li><a class="nav-gradient" href="./login">Login Page</a></li>
      <li><a class="nav-gradient" href="./users">User Page</a></li>
      <li><a class="nav-gradient" ><button class = "new-user" [routerLink]="['user-form/id']" > Sign UP!</button></a></li>
      <li><a class="nav-gradient" ><button class = "new-event" [routerLink]="['/event-form/id']" >Add a New Event!</button></a></li>
    </ul>
</nav>
